* {
  background-color: rgb(175, 229, 231);

}

h1 {
  font-size: 3.0em;
  text-align: center;
  text-decoration: underline;
  margin: 50px;
}
h2 {
  font-size: 1.0vw;
  color: salmon;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

table, tr, th, td {
  
  border: 2px solid black;
  padding: 20px;
  background-color: rgba(29, 122, 209, 0.555);
  color: white;
  margin:auto; margin-top: 100px;
}

td {
  text-align: center;

}

#bd{
  background-color: salmon;
}